
.titlelist{
    color: black;
    transform: translateY(50px);
    margin-bottom: 100px;
    text-align: center;
    
}
.it{
    text-decoration: none;
    text-align: center;
    color: blue;
   
}
.mtitle{
  
}