
  
 .logad{
  margin-left: 720px;
  color: white; 
  text-decoration: none;


 } 
  
  .log{
     margin-left: 20px;
     color: white; 
     text-decoration: none;
  }
  .reg{
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }