.hometitle{
    color: white;
    text-decoration: none;
}
.regab{
    margin-left: 800px;
    /* float: right; */
    color: white;
    text-decoration: none;
  }
  .regar{
     margin-left: 30px;
    
     color: white; 
     text-decoration: none;
  }